// Mixins Here
.flex(@justify: flex-start, @align: flex-start) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
